@media only screen and (min-width: 200px) and (max-width: 575px) {
  .btn-outer {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    justify-content: center !important;
  }

  .bannercontent h1{
  font-size: 32px;
  font-weight: 700;
}

.bannercontent p{
  font-size: 20px;
}

.bannercontent br {
  display: none;
}

.bannercontent ul li {
  font-size: 15px;
}
.bannercontentbtn {
  flex-direction: column;
}

.bannercontentbtn button {
 width: 100%
}
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1170px;
  }
}